.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filter-title {
    background-color: var(--accent);
    color: var(--text-color);
    padding: 20px 30px;
}

.filter-title h2 {
    font-size: 17px;
    font-weight: 900;
    margin: 0;
}

.filter-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filter-content figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.filter-content ul {
    list-style: unset;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filter-content .people {
    width: 200px;
    height: min-content;
}

.filter-content li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.filter-content .item img {
    width: 24px;
}

.colors-vial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    color: var(--text-color);
    padding: 8px 12px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.filter-button:hover {
    background-color: var(--active-accent);
    transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 420px) {
    .filter-content figure {
        flex-direction: column;
        gap: 24px;
    }
}