@import "filter.css";
@import "magazine.css";

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 0 100px;
}

.side-main {
    width: 400px;
}

.content-main {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title img {
    height: 400px;
}

.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.advantage {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 20px 20px 20px 0;
}

.advantage-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
}

.gray-image {
    background-color: var(--elements-background);
}

.advantage-text {
    width: 300px;
    font-size: 20px;
}

.manual {
    display: flex;
    flex-direction: column;
}

.manual-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.manual-description {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.manual-number {
    font-size: 128px;
    font-weight: bold;
    color: var(--elements-background-active);
    margin: 10px;
}

.manual-text {
    font-size: 20px;
    margin: 10px;
}