@import "filter.css";
@import "magazine.css";

main {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
}

aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.content-main {
    flex: 1;
    height: 100%;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-title img {
    width: 100%;
    aspect-ratio: 16/5;
    max-width: 1300px;
}

section h2 {
    font-size: 30px;
    font-weight: 900;
}

.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
}

.advantage {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
}

.advantage-image {
    min-width: 140px;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
}

.gray-image {
    background-color: var(--elements-background);
}

.advantage-text {
    width: 260px;
    font-size: 17px;
}

.manual {
    display: flex;
    flex-direction: column;
}

.manual-text * {
    font-size: 17px;
    margin: 0;
}

.manual figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
}

.manual figure:nth-child(even) {
    flex-direction: row-reverse;
}

.manual figcaption {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.manual-number {
    font-size: 120px;
    font-weight: bold;
    color: #e6e6e6;
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.manual-number p {
    vertical-align: bottom;
    height: 120px;
    margin: 0;
}

.manual-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
}

@media screen and (max-width: 1330px) {
    .manual figure {
        flex-direction: column!important;
        align-items: flex-start;
        gap: 24px;
    }

    .manual {
        gap: 32px;
    }

    .manual img {
        max-width: 480px;
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }

    aside {
        width: auto;
    }

    section h2 {
        font-size: 24px;
    }

    .advantage-image {
        min-width: 90px;
        width: 90px;
        height: 90px;
    }

    .advantage-text {
        font-size: 12px;
        width: 100%;
    }
}