@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --accent: #5ab678;
    --active-accent: #4b9c64;
    --active-accent2: #b9bbbe;
    --elements-background: #e8e8e8;
    --elements-background-active: #cccccc;
    --text-color: #f1f1f1;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: unset;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}