.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 15px;
    border-radius: 9px;
    color: var(--text-color);
    transition: background-color 0.2s ease-in-out;
}

.footer button:hover {
    background-color: var(--active-accent);
    transition: background-color 0.2s ease-in-out;
}