footer {
    background-color: var(--accent);
    color: var(--text-color);
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    color: var(--text-color);
    transition: background-color 0.2s ease-in-out;
}

footer * {
    margin: 0;
}

footer a:hover {
    background-color: var(--active-accent);
}