header {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.actions {
    display: flex;
    gap: 32px;
}

nav {
    display: flex;
    gap: 32px;
}

.header-top, .header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    background-color: var(--elements-background);
    padding: 12px 40px;
}

.header-top a {
    color: inherit;
    text-decoration: none;
}

.header-top button {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-top button, .header-top a {
    transition: background-color 0.2s ease-in-out;
}

.header-top button:hover, .header-top a:hover {
    background-color: var(--elements-background-active);
}

.header-bottom {
    padding: 26px 40px;
}

.username {
    font-weight: bold;
    text-align: right;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
    }
}